@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
body{
    margin:0;
    padding: 0;
    height:100vh;
    display:grid;
    place-items: center;
    background: #161718;
}
.container {
    text-align: center;
}
a{
    font-family:"Poppins", sans-serif;
    color:#fff;
    text-decoration: none;
    text-transform: upeercase;
    padding:20px 60px;
    position:relative;
    overflow:hidden;
    border-radius: 5px;
    transition:0.2s;
    transform:scale(1.5);
}
a span{
    position:relative;
    z-index:0;
    color:#fff;
}
a .water{
    position:absolute;
    top:-60px;
    left:0;
    width:100%;
    height:200px;
    background: #048aff;
    box-shadow: inset 0 0 50px rgba(0,0,0,0.7);
    z-index:-1;
    transition:0.6s;
}
a .water::after,
a .water::before{
    position:absolute;
    content:"";
    width:200%;
    height:200%;
    top:0;
    left:0;
    transform:translate(-25%,-75%);
}
a .water::after{
    border-radius:45%;
    background: rgba(20,20,20,1);
    box-shadow:0 0 10px 5px #021cff, inset 0 0 5px #035fff;
    animation:animate 5s linear infinite;
    opacity:0.8;
}
a .water::before{
    border-radius:40%;
    box-shadow: 0 0 10px rgba(26,26,26,0.5),
    inset 0 0 5px rgba(26,26,26, 0.5);
    background: rgba(26,26,26,0.5);
    animation: animate 7s linear infinite;
}
@keyframes animate{
    0%{
        transform:translate(-25%, -75%) rotate(0);
    }
    100%{
        transform:translate(-25%, -75%) rotate(360deg);
    }
}
a:hover .water{
    top:-120px;
}
a:hover{
    box-shadow:0 0 5px #034aff, inset 0 0 5px #0364ff;
    transition-delay:0.8s;
}